@page "/Hotels"
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@attribute [Authorize(Roles = "Admin")]

<h3>
Отель
</h3>


@if (hotelss.Count <=0)

{
    <span>Грузим</span>

}
else
{
    @foreach (var hotel in hotelss)
    {
    <li>@hotel.hotelId - @hotel.hotelName</li>
    }

}

@code {
    List<Hotel> hotelss = new List<Hotel>();

    protected override async Task OnInitializedAsync()
    {
        var http = HttpClientFactory.CreateClient("Kurs.AnonymousAPI");
        var hotels = await http.GetFromJsonAsync<List<Hotel>>("api/Hotel");

        if (hotels != null)
        {
            hotelss = hotels;
        }
    }
}