@page "/Users"
@inject HttpClient Http
@inject IHttpClientFactory HttpClientFactory
@inject IUserService UserService;
@attribute [Authorize(Roles = "Admin")]

<h3>Пользователи</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                User Id
            </th>
            <th>
                User Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var users in UserService.Users)
        {
            <tr>
                <td>@users.UserId</td>
                <td>@users.FullName</td>
            </tr>
        }
    </tbody>

</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await UserService.GetUsers();
    }
}